In [1]:
import mysql.connector
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="root",
  database="wapo"
)

In [3]:
mydb

In [4]:
mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

(u'reports',)

In [12]:
#mycursor.execute("select articleType,count(id) from reports group by articleType")
query = "SELECT count(id),articleType FROM reports group by articleType LIMIT 0,1000"
query2 = "SELECT title from reports"
#mycursor.execute(query)

#for x in mycursor:
#  print(x)

In [13]:
df = pd.read_sql(query, con=mydb) # 50000 takes 1.2 gb in python 72 mb for 1000

In [23]:
df.sum()

count(id)                                                 595034
articleType    LocalThe FixEarly LeadPost PoliticsOpinionOpin...
dtype: object

In [17]:
df.describe(include='all')

           count(id) articleType
count     189.000000         189
unique           NaN         189
top              NaN     Opinion
freq             NaN           1
mean     3148.328042         NaN
std      5215.195863         NaN
min         1.000000         NaN
25%       170.000000         NaN
50%      1455.000000         NaN
75%      3530.000000         NaN
max     39676.000000         NaN

In [24]:
df.sort_values("count(id)", axis = 0, ascending = False, 
                 inplace = True, na_position ='first')

In [25]:
df

     count(id)             articleType
90       39676                   Local
154      28121                 The Fix
50       24816              Early Lead
125      20066           Post Politics
116      18795                 Opinion
117      17505                Opinions
183      17455                Wonkblog
88       13654   Letters to the Editor
100      13285             Morning Mix
146      12815                  Sports
187      12238              WorldViews
121      12009                Politics
148      11524                   Style
41       10636         D.C. Sports Bog
28        9500    Capital Weather Gang
9         9480            AllMetSports
15        9351  Arts and Entertainment
26        8872                Business
174       7614    Washington Nationals
59        7476                 Express
124       7354             Post Nation
68        7137         Going Out Guide
155       6974             The Insider
160       6841              The Switch
11        6838                Analysis
140       6364              Right Turn
71        6291                Gridlock
129       6177               PowerPost
27        5883        Capital Business
157       5689           The Plum Line
..         ...                     ...
76          16             Immigration
58          16                  Events
107         14                    none
31          13             Celebrities
53          12    Energy & Environment
111         10               On Giving
181         10             White House
73           9          Health Science
110          8          On Faith Local
35           8                  Comics
18           8            Bars & Clubs
74           7      Holiday Guide 2012
186          5          World Politics
83           5           Investigative
52           2        El Tiempo Latino
93           2                 Markets
185          2          World Business
44           1                Deportes
43           1           DemocracyPost
132          1         Puzzles & Games
118          1                 Outlook
24           1           Brand Connect
21           1               Book Club
130          1                      PR
119          1                    Page
14           1                   Array
126          1      Post Politics Live
61           1         Fall TV Preview
97           1            Md. Politics
188          1             Your Photos

[189 rows x 2 columns]

In [21]:
#export_csv = df.to_csv ('/home/i3/git/WapoDataMining/python-interface/articleTypeCount.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path

In [26]:
df.articleType.values

array([u'Local', u'The Fix', u'Early Lead', u'Post Politics', u'Opinion',
       u'Opinions', u'Wonkblog', u'Letters to the Editor', u'Morning Mix',
       u'Sports', u'WorldViews', u'Politics', u'Style',
       u'D.C. Sports Bog', u'Capital Weather Gang', u'AllMetSports',
       u'Arts and Entertainment', u'Business', u'Washington Nationals',
       u'Express', u'Post Nation', u'Going Out Guide', u'The Insider',
       u'The Switch', u'Analysis', u'Right Turn', u'Gridlock',
       u'PowerPost', u'Capital Business', u'The Plum Line',
       u'Public Safety', u'Health & Science', u'Education',
       u'PostEverything', u'Reliable Source', u'Monkey Cage',
       u'National Security', u'Obituaries', u'Answer Sheet',
       u"The Post's View", u'Washington Capitals', u'Food', u'World',
       u'Maryland Politics', u'The Volokh Conspiracy', u'Erik Wemple',
       u'Colleges', u'Fancy Stats', u'Books', u'Virginia Politics',
       u'Soccer Insider', u'Maryland Terrapins', u'Perspective',
       u'PostPartisan', u'Music', u'Speaking of Science',
       u'Federal Insider', u'Where We Live', u'Middle East',
       u'Transportation', u'Washington Wizards', u'To Your Health',
       u'Checkpoint', u'National', u'Asia & Pacific', u'Travel',
       u'D.C. Politics', u'KidsPost', u'Nationals/MLB', u'Magazine',
       u'GovBeat', u'Energy and Environment', u'Europe',
       u'Theater & Dance', u'Technology', u'Grade Point', u'Redskins/NFL',
       u'On Leadership', u'TV', u'On Parenting', u'Innovations',
       u'ComPost', u'Comic Riffs', u'True Crime', u'Fact Checker',
       u'Acts of Faith', u'', u'Home & Garden', u'The Intersect',
       u'Inspired Life', u'On Small Business', u'Movies',
       u'WashPost PR Blog', u'Wizards/NBA', u'Real Estate',
       u'She The People', u'Olympics', u'District of DeBonis',
       u'In the Loop', u'Get There', u'Museums', u'Act Four',
       u'Capitals/NHL', u'The Posts View', u'Post Local',
       u'Entertainment', u'Solo-ish', u'London 2012 Olympics',
       u'The Watch', u'Test', u'Animalia', u'Wellness', u'Review',
       u'Dr. Gridlock', u'The Americas', u'In Sight', u'The Fed Page',
       u'Tablet', u'blog', u'Digger', u'Washington Post Live',
       u'Social Issues', u'D.C. United/Soccer', u'Lifestyle',
       u'All Opinions Are Local', u'Community Relations',
       u'Global Opinions', u'Africa', u'Storyline', u'Courts & Law',
       u'On I.T.', u'Achenblog', u'Cars', u'Book Party', u'Think Tanked',
       u'Discussions', u'A House Divided', u'Post Live', u'Tripping',
       u'Investigations', u'Keystone Highway', u'Ask The Post',
       u'Josh Rogin', u'Rampage', u'Retropolis', u'2chambers',
       u'In Theory', u'Weddings', u'Drawing The World Together',
       u'Maryland', u'Advice', u'Brand Studio', u'Fiscal Cliff',
       u'Virginia', u'Restaurants', u'Blogs & Columns', u'Jobs', u'D.C.',
       u'America Answers', u'Immigration', u'Events', u'none',
       u'Celebrities', u'Energy & Environment', u'On Giving',
       u'White House', u'Health Science', u'On Faith Local', u'Comics',
       u'Bars & Clubs', u'Holiday Guide 2012', u'World Politics',
       u'Investigative', u'El Tiempo Latino', u'Markets',
       u'World Business', u'Deportes', u'DemocracyPost',
       u'Puzzles & Games', u'Outlook', u'Brand Connect', u'Book Club',
       u'PR', u'Page', u'Array', u'Post Politics Live',
       u'Fall TV Preview', u'Md. Politics', u'Your Photos'], dtype=object)